@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --font-sans: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;

  /* Couleurs personnalisées */
  --color-primary: #3b82f6;
  --color-foreground: #ffffff;
  --color-muted: #6b7280;
  --color-muted-foreground: #9ca3af;
  --color-primary-blue: #050610;
  --color-primary-blue-light: #103095;
  --color-primary-red: #aa222b;
  --color-background-main: #050610;
  --color-background-secondary: #e2e2e21a;
  --color-text-light: #c0c0c0;
  --color-text-inactive: #999999;
  --color-border-default: #686868;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --blur-2xl: 25px
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: black;
    @apply text-gray-900 antialiased;
  }
}

@layer utilities {
  .section-padding {
    @apply py-16 md:py-24;
  }

  .text-gradient {
    background: linear-gradient(82deg, #7989bc 17.63%, #c2d0ff 80.23%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .container-custom {
    @apply container mx-auto px-2 sm:px-4 lg:px-6;
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
